
/* ========= Global Style ======== */

:root{
    --main-color:#3181E9
}

html, body, #root {
    height: 100vh;
    margin: 0;
  }



/* ========= navbar style ========== */
.navbar{
    background-color: var(--main-color) ;
   color: white;
}
.navbar .nav-link{
    color:black ;
    margin-right: 1.25rem;
    font-size: 20px;
}
.navbar .nav-link:hover{
    color: black;
}

.navbar .nav-link.active{
    color: white;
}

/*========= Home page style ========== */
#Student-dashboard{
    height: 78%;
}

/*========= Footer style ========== */
footer{
    background-color: var(--main-color);
    color: white;
    height: 10%;
}
footer div{
    margin: auto;
  
}