
/* ========= Global Style ======== */

:root{
    --main-color:#3181E9;
}

html, body, #root {
   height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }



/* ========= navbar style ========== */
.navbar{
    background-color: var(--main-color) ;
   color: white;
}
.navbar .nav-link{
    color:black ;
    margin-right: 1.25rem;
    font-size: 20px;
}
.navbar .nav-link:hover{
    color: black;
}

.navbar .nav-link.active{
    color: white;
}

/*========= Home page style ========== */

.student-home{
    flex: 1;
    background-image: url(./assets/images/Homebg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.5); /* لون شفاف فوق الصورة */
    background-blend-mode: overlay;
    display: flex;
    justify-content: center;
    align-items: center;
}
.student-home h2{

    color: white;
}

.student-home .student-main-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.student-home .submit-complaint-link{
    font-size: 30px;
    color: rgb(22, 3, 129);
    font-weight: bold;
}

/*========= contact us page style ========== */

.contact-us , .FQA {
    height: 100%;
    margin-block: 60px;
}

/*========= Footer style ========== */
footer{
    background-color: var(--main-color);
    color: white;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;


}
